<div class="mb-2">
  <app-button
    icon="arrow_back_ios"
    (buttonClick)="goToCustomerListComponent()"
  ></app-button>
</div>
<div class="mb-5">
<div class="flex">
  <!--  PERSONAL DETAILS -->
  <div class="mb-2 p-4 grow">
    <h5>Personal Details</h5>
    <div class="flex gap-x-10">
      <div>
        <span class="text-sm">Full Name</span>
        <p class="font-medium">{{customer.firstName}} {{customer.lastName}}</p>
      </div>
      <div>
        <span class="text-sm">Phone Number</span>
        <p class="font-medium">{{customer.phone}}</p>
      </div>
      <div>
        <span class="text-sm">Email</span>
        <p class="font-medium">{{customer.email}}</p>
      </div>
    </div>
  </div>

  <!--  ORDER DETAILS-->
  <div class="mb-2 p-4">
    <h5>Order Details</h5>
    <div class="flex gap-x-10">
      <div>
        <span class="text-sm">Total Orders</span>
        <p class="font-medium">10</p>
      </div>
      <div>
        <span class="text-sm">Balance</span>
        <p class="font-medium">Rs. 10,000</p>
      </div>
      <div>
        <span class="text-sm">Previous Due</span>
        <p class="font-medium">Rs. 0</p>
      </div>
    </div>
  </div>
</div>
</div>
<!--ORDER HISTORY-->
<div class="p-4 flex flex-col">
  <h5>Order history</h5>
  <div>
    <span class="text-xs">Monday</span>
    <span class="text-xs">17 Oct, 2024</span>
    <div class="flex gap-5 font-semibold">
      <p>Chicken Fried Rice</p>
      <p>Rs.650</p>
    </div>
  </div>
  <div>
    <span class="text-xs">Monday</span>
    <span class="text-xs">17 Oct, 2024</span>
    <div class="flex gap-5 font-semibold">
      <p>Chicken Fried Rice</p>
      <p>Rs.650</p>
    </div>
  </div>
  <div>
    <span class="text-xs">Monday</span>
    <span class="text-xs">17 Oct, 2024</span>
    <div class="flex gap-5 font-semibold">
      <p>Chicken Fried Rice</p>
      <p>Rs.650</p>
    </div>
  </div>
  <div>
    <span class="text-xs">Monday</span>
    <span class="text-xs">17 Oct, 2024</span>
    <div class="flex gap-5 font-semibold">
      <p>Chicken Fried Rice</p>
      <p>Rs.650</p>
    </div>
  </div>
</div>
