<div>
  <div class="flex gap-6">
    <div class="flex-grow bg-gray-400 p-5 cursor-pointer">
      <p>32</p>
      <span>Total Customer</span>
    </div>
    <div class="flex-grow bg-gray-400 p-5">
      <p>Rs. 2,00,000</p>
      <span>Total Earning</span>
    </div>
    <div class="flex-grow bg-gray-400 p-5">
      <p>Rs. 50,000</p>
      <span>Total Cost</span>
    </div>
    <div class="flex-grow bg-gray-400 p-5">
      <p>Rs. 40,000</p>
      <span>Previous Due</span>
    </div>
  </div>
</div>
