<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ date.day }}</mat-panel-title>
      <mat-panel-description>
        {{ date.date | date: DATE_FORMAT }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
      <div formGroupName="foodSelections">
        <div *ngFor="let food of foods">
          <label>
            <input type="checkbox" [formControlName]="food.id"/>
            {{ food.name }}
          </label>
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="reset">
          Cancel
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          Create Menu
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
