<nav class="bg-gray-400">
  <div class="h-14 max-w pt-3">
    <div class="flex flex-row items-center justify-between mx-20">
      <div>
        <ul class="flex flex-row gap-4">
          <li><a routerLink="/" routerLinkActive="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/person" routerLinkActive="routerLinkActive">Person</a></li>
          <li><a routerLink="/lunch-detail" routerLinkActive="routerLinkActive">Lunch Details</a></li>
        </ul>
      </div>
      <div>
        <p>Do It</p>
      </div>
    </div>
  </div>
</nav>
